
#header-area {
    border: 1pt solid red;
    background-color: #88AA33;
    width: 100%
}

#footer-area {
    border: 1pt solid red;
    background-color: #cccccc;
}

#articles-content {
    border: 1pt solid red;
    background-color: #dddddd;
}

#comments-wrapper {
    border: 1pt solid red;
    background-color: #888888;
    position: fixed;
    left: 50px;
    top: 50px;
}

.not-selected {
    background-color: #dddddd;
}

.selected {
    background-color: lemonchiffon;
}