* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f6f4d2;
    padding: 5px;
}

#page-title {
    font-family: 'Michroma', sans-serif;
    font-size: 16pt;
}

.attribution {
    font-size: 10pt;
}

.comments-title {
    color: #9ad4d6
}
.article-art {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#header-area {
    background-color: #38618c;
    color: #f6f4d2;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 10px;
}

.article-card {
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#footer-area {
    background-color: #d4e09b;
}

#articles-content {
    z-index: -10;
}

#new-comment {
    width: 100%;
}

.modal-header, .modal-content, .model-footer {
    background-color: #38618c;
    color: #f6f4d2;
}

.not-selected {
    background-color: #38618c;
    color: #9ad4d6;
}

.selected {
    background-color: #f6f4d2;
    color: #38618c;
}

.warning {
    color: #ffc6d9;
}