
#message-area {
    border: 1pt solid red;
    background-color: #cccccc;
}

#articles-content {
    border: 1pt solid red;
    height: 200px;
    width: 800px;
    background-color: #dddddd;
    overflow:auto;
}

#comments-content {
    border: 1pt solid red;
    height: 200px;
    width: 800px;
    background-color: #888888;
    overflow: auto;
}

.not-selected {
    background-color: #dddddd;
}

.selected {
    background-color: lemonchiffon;
}